<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sidhant</title>
    </head>
    <body>
        <h1>Myself, Sidhant Sharma</h1>
        <form action="/login" method="post">
            <label>email:</label>
            <input type="email" placeholder="email" name="email"><br><br>
            <label>password:</label>
            <input type="password" placeholder="password" name="password"><br><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>